/* Učitavanje vlastitog fonta */
@font-face {
    font-family: 'MarlenaKokotic';
    src: url('./datotekeprojektni3/MarlenaKokotic.ttf') format('truetype');
}

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #2c3e50;
}

h1 {
    font-family: 'MarlenaKokotic', sans-serif;
    font-size: 4em;
    margin-bottom: 0.5em;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 1em;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #2c3e50;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    background-color: #34495e;
}

/* Media Styles */
img {
    margin: 10px 0;
    border: 2px solid #2c3e50;
    width: 300px;
    height: auto;
}

iframe, video {
    margin: 10px 0;
    border: 2px solid #2c3e50;
    width: 100%;
    max-width: 560px;
    height: auto;
}
